/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&amp;subset=latin,vietnamese&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
}

/* Variables  Declare color*/
:root {
    --main-color: #9b5c41;
    --light-color: #e1b955;
    --text-color: #2e2e2e;
    --hover-color: hsl(18, 41%, 38%);
    --bg-color: #fff;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 4rem;
    background: var(--main-color);
}
img {
    width: 100%;
    pointer-events: none;
}
section {
    padding: 4rem 0 3rem;
}
body {
    color: var(--text-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container {
    max-width: 998px;
    margin: auto;
    width: 100%;
}

/* Button */
.btn {
    background: var(--main-color);
    padding: 15px 24px;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
}
.btn:hover {
    background: var(--hover-color);
    transition: 0.3s all linear;
}

/* Header */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100%;
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 1px 4px 14px #0f368c;
    transition: 0.3s;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}
.logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0 auto 0px 24px;
}
.logo span {
    color: var(--main-color);
}

/* Menu Icon */
.menu-icon {
    display: grid;
    row-gap: 5px;
    padding: 14px 12px;
    background: var(--main-color);
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 25px;
    transition: 0.3s;
}

/* Create X at Menu Icon */
.move .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Nav List */
.navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(4.5px);
    z-index: 106;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.navbar.active {
    display: flex;
}

.navbar a{
    padding: 20px;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.2s all linear;
}

.navbar a:hover
{
    background: var(--main-color);
    font-size: 1.8rem;
    color: var(--bg-color);
}

/* Nav Icons */
.nav-icons {
    display: flex;
    column-gap: 1rem;
    z-index: 200;
}

.nav-icons .bx {
    font-size: 1.1rem;
    color: var(--bg-color);
    padding: 10px;
    background: var(--main-color);
    border-radius: 0.5rem;
    cursor: pointer;
}


/* Login Form */
.login-form {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(4.5px);
    z-index: 106;
    display: none; 
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.login-form.active {
    display: flex;
}

.login-form form {
    max-width: 300px;
    width: 100%;
    margin: auto;
    display: grid;
    text-align: center;
    row-gap: 1rem;
    padding: 10px;
}

.login-form form h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.login-form form input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 0.9rem;
    padding: 14px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
}

.login-form form input::placeholder {
    font-size: 0.9rem;
    font-weight: 400;
}

.login-form form a {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: right;
}

.login-form form a:hover {
    color: var(--main-color);
}

.login-form form .btn {
    border: none;
    background: var(--main-color);
}

.login-form form .btn:hover {
    background: var(--hover-color);
}

/* Home */
.home {
    min-height: 640px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-text h1 {
    font-size: 2.4rem;
}

.home-text h1 span {
    color: var(--main-color);
}

.home-text h3 {
    font-size: 1.5rem;
}

.home-text p {
    margin: 1rem 0 1.8rem;
}

.home-image img {
    width: 520px;
    height: 530px;
}

.home-image {
    position: relative;
    z-index: -1;
}

.home-image::after {
    content: "";
    height: 210px;
    width: 455px;
    background: var(--light-color);
    position: absolute;
    bottom: 0px;
    right: 17px;
    border-radius: 50%;
    z-index: -1;
}

/* ================================Categories ==============================================================*/
.heading {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2rem;
}

.heading h2 {
    font-size: 1.4rem;
}

.heading h3 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}
.heading a {
    font-size: 1.1rem;
}

.heading .line {
    margin-bottom: 90px;
}

.heading a:hover {
    color: var(--hover-color);
    border-bottom: 2px solid var(--main-color);
}

/* =============================categories content============================================================================ */
.categories-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
}

.box {
    min-height: 374px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.5rem;
}

/* Box1 */
.box1 p {
    padding: 0.5rem 0 2.5rem 0;
}
.furniture img{
    width: 230px;
    height: 300px;
}
.furniture {
    position: relative;
    z-index: -1;
}
/* Box2 */
.box2 p {
    padding: 0px 0.5rem 0.5rem 0px;
}
.kitchen img {
    direction: ltr;
    width: 230px;
    height: 300px;
}
.kitchen {
    position: relative;
    z-index: -1;
}
/* Box3 */
.box3 p {
    padding: 0.5rem 0 2.5rem 0;
}
.wardrobe img {
    direction: ltr;
    width: 230px;
    height: 300px;
}
.wardrobe {
    position: relative;
    z-index: -1;
}
/* Box4 */
.box4 p {
    padding: 0px 0.5rem 0.5rem 0px;
}
.mattress img {
    width: 230px;
    height: 300px;
}
.mattress {
    position: relative;
    z-index: -1;
}


/* About */
.about {
    min-height: 640px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-text p {
    padding: 0.5rem 0 2.5rem 0;
}

.about-img img {
    width: 400px;
    height:400px;
}

.about-img {
    position: relative;
    z-index: -1;

}

.about-img::after {
    content: "";
    height: 340px;
    width: 232px;
    background: var(--light-color);
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 0.5rem;
    z-index: -1;
}

/* Design */
.design .container {
    display: grid;
    object-fit: contain;
    object-position: center;
}

.design h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.design #changeimg {
    height: 500px;
    width: 100%;
}

/* Footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer-box a{
    color: var(--text-color);
    margin-bottom: 0.5rem;
}
.footer-box a{
    color: var(--main-color);
}
.social{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.social .bx{
    padding: 8px;
    background-color: var(--main-color);
    font-size: 20px;
    border-radius: 0.5rem;
    color: var(--bg-color);
}
.social .bx:hover{
    background: var(--hover-color);
    transition: 0.3s all liner;
}
.address{
    filter: brightness(96%);
    width: 100%;
    height: 200px;
    color: var(--main-color);
    background: white;
    position: relative;
    z-index: -1;
}
.address h3{
    padding: 15px;
}
.address .bx{
    padding: 10px;
}

.copyright{
    text-align: center;
    padding: 30px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
}
/* SCroll Top */
.scroll-top{
    position: fixed;
    bottom: 1.5rem;
    right: -100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 0.5rem;
    background: var(--main-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 80%;
}
.scroll-top:hover{
    background: var(--hover-color);
    opacity: 100%;
    transition: 0.3s all linear;

}
.scroll-top.active{
    right: 1.5rem;
    transition: 0.3s;
}

